<h1>Informações:</h1>
{{#each vendas}}    
    <h2>{{id}}</h2>
    <h3>{{vendedor}}</h3>
    <h3>{{cliente}}</h3>
    <p>{{produto}}</p>           
    <p>{{valor}}</p>
    <hr>
{{/each}}

<a href="/inicio">Página Inicial</a>